.Home {
  //background-color: #4193DA;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  &__column {
    width: 100%;
  }
  &.Validation {
    max-width: 700px;
  }
}
